<meta charset="utf-8">
<div ng-controller="LigaController as ctrl">
	<h3>{{ctrl.title}}</h3>
	<hr>
	<form name="frm" class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2" for="id">Id</label>
			<div class="col-sm-6 col-md-4">
				<input type="number" required ng-model="ctrl.liga.id" id="id" ng-disabled="ctrl.edit()" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="naziv">Naziv</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.liga.naziv" id="naziv" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="oznaka">Oznaka</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" required ng-model="ctrl.liga.oznaka" id="oznaka" class="form-control">
			</div>
		</div>
		<div class="col-sm-offset-2">
			<button class="btn btn-primary" type="button" ng-click="ctrl.save()" ng-disabled="frm.$invalid">
				Potvrdi
			</button>
			<button class="btn btn-danger" type="button" ng-click="ctrl.openConfirm('delete')" ng-show="ctrl.edit()" >
				Obriši
			</button>
			<a class="btn btn-default" href="#/liga">
				<i class="fa fa-chevron-left"></i>
				Nazad
			</a>
		</div>
	</form>
</div>
